/* Global CSS */

body {
  background-color: hsl(0, 0%, 97%);
}

main {
    margin-top: 5% !important;
    position: relative !important;
    padding: 25px;
    margin-bottom: 10px;
}

#main-navbar {
  z-index: 9999 !important;
}

.sidenav-menu {
  top: 70px !important;
  position: relative !important;
}

@media (min-width: 1400px) {

  #main-navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.text-light {
  color: #9FA6B2 !important;
}

/* Header CSS */

nav .fa-bell, nav .fa-user-circle {
    font-size: 20px;
}

.navbar-brand {
    padding-left: 20px;
}
