/********************** Main CSS *************/
#topnav {
    width: 100% !important;
}

.logobrand {
    position: relative;
    text-decoration: none;
    display: inline-block;
    top: -7px;
    font-size: 25px;
    left: 20px;
}

.logobrand, .logotext {
    display: inline-block;
}

.logotext {
    top: 5px;
    position: relative;
}

.item-wrapper .v-avatar {
    text-align: center;
    width: 350px;
    height: 100%;
}

.logotext {
    display: inline-block;
    position: relative;
    top: 5px;
}

#minSearch {
    display: none;
}

.searchField {
    position: relative;
    top: 0px;
    width: 650px;
}

.mainSearch {
    width: 650px !important;
    min-height: 55px;
    display: inline-block !important;
    border-radius: 25px !important;
    background-color: white;
}

/******************* Main Section CSS *********/

/******************** Sidebar CSS *************/


/******************** Footer CSS *************/
